html{
	background:transparent url("http://1.bp.blogspot.com/-DIa3h6Kx82Y/TalvaWT0IqI/AAAAAAAAAPg/xls7kWYskQM/s1600/white-clouds.jpg") no-repeat fixed top left;
	background-size:cover;
}
body{
	height:3000px;
}
div{
	position:fixed;
	top:100px;
	left:50%;
	width:100px;
	height:100px;
	margin-left:-50px;
	background:#7CCC28;
	border-radius:100px;
}

#bg-1{
	top:500px;
}
#bg-2{
	top:530px;
	left:30%;
	background:#E73EA8;
}